
.boo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: white;
    margin-top: -11px;
    margin-left: 641px;
    
}

  .navbar {

    display: flex;
    
    align-items: center;
    
    justify-content: space-between;
    
    padding: 20px;
    
    background-color: black;
    width:1536px;
    
    color: #fff;
    height: 46px;
    
    }
    